html,
body
{
	height: 100%;
}
body
{
	font-family: 'PT Sans';
}
a
{
	outline: none;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.alert
{
	margin-bottom: 0;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
}

.dropdown-toggle
{
	cursor: pointer;
}

.page-footer,
.push
{
	height: 40px;
}

.navbar
{
	margin-top: 15px;
	font-family: Arial;
}

.page-footer
{
	width: 100%;
	margin: -40px auto 0;
	line-height: 40px;
	text-align: center;
	position: relative;
}

	.page-footer,
	.page-footer a
	{
		color: #999;
		text-transform: 1px 0 1px #fff;
	}
	
	.page-footer a
	{
		text-decoration: underline;
	}

.red
{
	color: red;
}

.green
{
	color: green;
}

.dn
{
	display: none !important;
}

.gallery
{
}

	.gallery .control
	{
		text-align: center;
		margin: 0 0 10px 0;
	}
	
	.gallery li
	{
		display: inline-block;
		margin: 0 10px 10px 0;
	}

.clear-cache
{
	cursor: pointer;
}

.btn-group > .btn:first-child
{
	padding-bottom: 4px;
}

.themes
{
}

	.themes li
	{
		float: left;
		width: 300px;
		margin: 0 20px 20px 0;
		list-style: none;
	}

		.themes li p
		{
			margin-bottom: 5px;
		}
		
		.themes li h3
		{
			margin-bottom: 0;
			font-weight: 100;
		}
		
		.themes li figure
		{
			width: 300px;
			height: 225px;
			overflow: hidden;
			text-align: center;
			border: 1px solid #F1F1F1;
			padding: 4px;
			background: #fff;
		}

	    .themes li figure:hover
		{
			border: 1px solid #D2D2D2;
		}

			.themes li figure img
			{
			}

			.themes li figure figcaption
			{
			}
			
	.themes li a
	{
		
	}


			